@import "tailwindcss";

.form-input {
  @apply w-full text-gray-500 border border-gray-200 rounded-md p-0.5;
}

.form-btn {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 mt-2 w-full;
}

form .grouped {
  @apply block space-y-4 sm:flex sm:space-y-0 sm:gap-4;
}

form .grouped > div {
  @apply w-full sm:w-1/2;
}

.form-group > label {
  @apply block mb-0.5;
}

.form-group > input,
.form-group > select {
  @apply w-full outline-0 text-gray-500 border border-gray-200 rounded-md p-0.5;
}
